# Dependencies
node_modules/
dist/
.env

# Database and SQLite temporary files
server/database.sqlite
server/database.sqlite-shm
server/database.sqlite-wal
server/*.db
server/*.log
*.log

# Project specific
appdata/
temp/
apikey.md

# System files
.DS_Store
Thumbs.db
